@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: white;
    color: theme('colors.slate.900');
    font-family: "Inter", sans-serif;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Fix ngx-charts text colors in dark mode */
.dark .ngx-charts text {
    fill: #e2e8f0; /* slate-200 */
}
